@import './base.css';

:root{

  --color: rgb(105, 118, 184);
  --background: rgb(255, 255, 255);
  --bgColor: rgb(190, 205, 235);
  --barColor: #727fc2;
  /* --hoverColor: rgb(220, 224, 245); */

/* --color:rgb(165, 143, 255);
   --background:rgb(255, 255, 255);
   --bgColor:rgb(225, 211, 255); */
   --gray:#e8e8e8;
   --black:#555;
}

.flex{
  display: flex;
}
a{
  cursor:pointer; 
}

.btn {
  text-align: center;
  background-color: var(--background);
  border: 0 solid var(--bgColor);
  border-bottom: 1px solid var(--gray);
  border-radius: 2px;
  color: var(--color);
  transition: all 0.4s;
}
.btn:hover {
  cursor:pointer; 
  /* background-color: var(--bgColor); */
  background-image: linear-gradient( 30deg, rgb(180, 196, 227), rgb(201, 214, 240));
  color: var(--color);
  opacity: 0.8;
}
.btn:disabled {
  background-image: linear-gradient( 0deg, rgb(240, 240, 240), rgb(253, 253, 253));
  border: 1px solid var(--bgColor);
  color: var(--bgColor);
}
.btn:active {
  opacity: 0.5;
  border: 0;
}
/*  */

.transition-enter-from,
.transition-leave-to{
    opacity: 0.4;
    translate: -0 -10px ;
}
.transition-enter-active,
.transition-leave-active {
 transition: all 0.6s ease-out;
}
/*  */

.fromRight-enter-active,
.fromRight-leave-active {
    transition: opacity 0.4s ease;
}

.fromRight-enter-from,
.fromRight-leave-to {
    opacity: 0;
}
.fromRight-enter-active .right {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.15s;
}
.fromRight-leave-active .right {
    transition: all 0.3s ease-in-out;
}

.fromRight-enter-from .right,
.fromRight-leave-to .right {
    transform: translateX(-30px);
    opacity: 0;
}

.add {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(59, 24, 82, 0.1);
  .right {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 60%;
      right: 0;
      box-shadow: 0 0 5px 2px rgb(182, 182, 182);
      background-color: var(--background);
  }
}

@media screen and (max-width : 950px) {
.add {
  .right {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 5px 2px rgb(182, 182, 182);
      background-color: var(--background);
  }
}
}